.contacts__container {
    margin-top: 100px;
    text-align: center;
    display: grid;
    gap: 50px;
}

.contacts__button {
    margin: 0 auto;
    width: 168px;
    height: 39px;
    border-radius: 50px;
    background-color: #000;
    color: white;
    border: none;
}

.contacts__icons {
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.icons {
    width: 41px;
    height: 41px;
}

.contacts__buttom-text {
    color: var(--light-color);
}